@font-face {
  font-family: Oswald;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/oswaldmedium.woff) format("woff"), url(../fonts/oswaldmedium.woff2) format("woff2");
}
@font-face {
  font-family: Oswald;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/oswaldregular.woff) format("woff"), url(../fonts/oswaldregular.woff2) format("woff2");
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.page-body {
  font-family: Oswald;
  font-weight: 400;
  color: #000000;
  font-style: normal;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

label, input {
  font-family: Oswald;
}

fieldset {
  margin: 0;
  padding: 0;
}

@media (min-width: 1440px) {
  .page-body--index {
    background: linear-gradient(180deg, rgba(104, 183, 56, 0.85) 100%, transparent 100.1%) no-repeat, url(../img/background/index-background-desktop.jpg) no-repeat;
    background-position: 100% 0;
    background-size: 50% 694px;
  }
}

h1, h2, h3, h4 {
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__title {
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  margin: 0;
  text-transform: none;
}
@media (min-width: 768px) {
  .page__title {
    font-size: 60px;
    line-height: 60px;
  }
}

.together-gift-additional-products {
  display: flex;
  flex-direction: column;
  padding: 29px 10px 35px;
}
@media (min-width: 768px) {
  .together-gift-additional-products {
    margin-top: 460px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .together-gift-additional-products {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
    padding: 0 11px 10px;
    margin-top: 191px;
  }
}

fieldset {
  border: none;
}

.page-main__wrapper-selectprogramm {
  padding: 27px 11px 18px;
}
@media (min-width: 768px) {
  .page-main__wrapper-selectprogramm {
    padding: 53px 57px 67px 61px;
  }
}
@media (min-width: 1440px) {
  .page-main__wrapper-selectprogramm {
    padding: 68px 101px 76px;
  }
}

@media (min-width: 768px) {
  .page-main__wrapper {
    padding: 0 22px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .page-main__wrapper {
    padding: 0 92px;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  padding: 0 12px 16px 13px;
  align-items: center;
  position: relative;
}
@media (min-width: 768px) {
  .header__logo {
    padding: 0 0 0;
    margin-left: 17px;
    margin-top: -4px;
  }
}
@media (min-width: 1440px) {
  .header__logo {
    padding: 0 0 0;
  }
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header__logo::before {
  display: inline-block;
  content: "";
  position: absolute;
  pointer-events: none;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .header__logo::before {
    display: none;
  }
}

.toggle-button {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  margin-top: -6px;
}

.logo {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  padding: 12px 0 0;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    padding: 20px 6px 0;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .header {
    padding: 51px 85px 0;
  }
}

.logo__burger {
  display: none;
}

.logo__desc {
  margin-top: -6px;
}
@media (min-width: 768px) {
  .logo__desc {
    display: none;
  }
}

@media (min-width: 768px) {
  .logo__exit {
    display: none;
  }
}

.button {
  background-color: #68B738;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 100%;
  padding: 10px 0;
}

.button--catalog {
  grid-column: 1/-1;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .button--catalog {
    width: 77%;
  }
}
@media (min-width: 1440px) {
  .button--catalog {
    width: 68%;
  }
}

.button--additional-products {
  grid-column: 1/-1;
  margin-top: 4px;
  font-size: 16px;
}
@media (min-width: 1440px) {
  .button--additional-products {
    grid-column: 3/4;
    margin-left: auto;
    width: 82%;
  }
}

.button--show-else {
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  margin: 0 auto;
  width: 76%;
}
@media (min-width: 1440px) {
  .button--show-else {
    width: 68%;
  }
}

li .button--show-else:hover {
  background-color: #EBEBEB;
}

li .button--show-else:active {
  color: 34, 34, 34;
}

.selection-programm__form-button {
  padding: 11px 0 9px;
  width: 280px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .selection-programm__form-button {
    padding: 14px 0 0;
    width: 282px;
    height: 38px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .selection-programm__form-button {
    width: 568px;
  }
}

.button:hover {
  background-color: #5EAA2F;
}

.button:active {
  color: 255, 255, 255;
  background-color: #5EAA2F;
}

.lead {
  background: url(../img/background/lead-cat.jpg) no-repeat;
  background-position: top;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 9px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (min-resolution: 2dppx) {
  .lead {
    background: url(../img/background/lead-cat@2.jpg) no-repeat;
    background-size: 320px 302px;
    background-position: top;
  }
}
@media (min-width: 768px) {
  .lead {
    background: none;
    padding-top: 52px;
    padding-left: 102px;
    padding-bottom: 526px;
    align-items: start;
  }
}
@media (min-width: 1440px) {
  .lead {
    padding-top: 104px;
    padding-left: 181px;
    padding-bottom: 267px;
  }
}

.lead::after {
  position: absolute;
  background: linear-gradient(180deg, rgba(104, 183, 56, 0.85) 100%, transparent 100.1%);
  content: "";
  height: 302px;
  right: auto;
  left: auto;
  top: 0px;
  width: 320px;
  pointer-events: none;
}
@media (min-width: 768px) {
  .lead::after {
    background: none;
  }
}

.lead__title {
  line-height: 36px;
  margin: 0;
  z-index: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .lead__title {
    color: #000000;
    margin-left: 6px;
    text-align: start;
  }
}
@media (min-width: 1440px) {
  .lead__title {
    margin-left: 0;
  }
}

.lead__text {
  line-height: 14px;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 27px;
  margin-bottom: 300px;
  z-index: 1;
}
@media (min-width: 768px) {
  .lead__text {
    margin-top: 41px;
    margin-left: 6px;
    color: #000000;
    margin-bottom: 49px;
    font-size: 20px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .lead__text {
    margin-bottom: 52px;
    margin-left: 0;
  }
}

.lead-picture-basket {
  position: absolute;
  top: 167px;
  z-index: 1;
}
@media (min-width: 768px) {
  .lead-picture-basket {
    top: 253px;
    left: 21px;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .lead-picture-basket {
    top: 22px;
    right: 0;
    left: 549px;
  }
}

.lead__button {
  padding: 12px 0;
  width: 92%;
}
@media (min-width: 768px) {
  .lead__button {
    padding: 17px 26px;
    font-size: 20px;
    line-height: 20px;
    width: 30%;
  }
}
@media (min-width: 1440px) {
  .lead__button {
    padding: 17px 23px;
    font-size: 20px;
    line-height: 20px;
    width: 16%;
  }
}

.lead picture {
  display: flex;
  justify-content: center;
}

.direction-programm__item {
  background-color: #F2F2F2;
  padding-top: 11px;
  padding-bottom: 18px;
  position: relative;
}
@media (min-width: 768px) {
  .direction-programm__item {
    padding-top: 47px;
    padding-bottom: 57px;
    padding-left: 51px;
  }
}
@media (min-width: 1440px) {
  .direction-programm__item {
    padding-top: 46px;
    padding-bottom: 59px;
  }
}

.direction-programm__wrapper {
  padding: 12px 11px;
}
@media (min-width: 768px) {
  .direction-programm__wrapper {
    padding: 0 22px;
  }
}
@media (min-width: 1440px) {
  .direction-programm__wrapper {
    padding: 0 102px;
  }
}

.direction-programm__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 0;
}
@media (min-width: 768px) {
  .direction-programm__list {
    row-gap: 29px;
  }
}
@media (min-width: 1440px) {
  .direction-programm__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    row-gap: 0;
  }
}

.direction-programm__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 91px;
  position: relative;
}
@media (min-width: 768px) {
  .direction-programm__title {
    margin-left: 0;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .direction-programm__title {
    margin-left: 163px;
  }
}

.direction-programm__title::before {
  content: "";
  position: absolute;
  top: -7px;
  left: -69px;
  width: 50px;
  height: 50px;
  background: #68B738;
  border-radius: 50%;
  pointer-events: none;
}
@media (min-width: 768px) {
  .direction-programm__title::before {
    top: 11%;
    left: auto;
    right: 62px;
    width: 200px;
    height: 211px;
    background: url(../img/cat_back.svg) no-repeat;
    border-radius: 0;
  }
}
@media (min-width: 1440px) {
  .direction-programm__title::before {
    background: #68B738;
    width: 100px;
    height: 100px;
    top: -30px;
    left: -163px;
    border-radius: 50%;
  }
}

.direction-programm__title--pro::before {
  pointer-events: none;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .direction-programm__title--pro::before {
    top: 37%;
    left: auto;
    right: 27px;
    width: 268px;
    height: 200px;
    background: url(../img/cat_back--pro.svg) no-repeat;
    border-radius: 0;
  }
}

.direction-programm__title::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
}

.direction-programm__title--slim::after {
  background: url(../img/cat_slim.svg) no-repeat;
  height: 150%;
  top: -10px;
  left: -62px;
  pointer-events: none;
}
@media (min-width: 768px) {
  .direction-programm__title--slim::after {
    background-size: 140px auto;
    height: 540%;
    top: -15px;
    left: 68%;
    background: none;
  }
}
@media (min-width: 1440px) {
  .direction-programm__title--slim::after {
    background: url(../img/cat_slim.svg) no-repeat;
    background-size: 70px;
    top: -36px;
    left: -148px;
  }
}

.direction-programm__title--pro::after {
  background: url(../img/cat_pro.svg) no-repeat;
  height: 100%;
  top: 3px;
  left: -78px;
  pointer-events: none;
}
@media (min-width: 768px) {
  .direction-programm__title--pro::after {
    background-size: auto 112px;
    height: 328%;
    top: 50px;
    left: 60%;
    background: none;
  }
}
@media (min-width: 1440px) {
  .direction-programm__title--pro::after {
    background: url(../img/cat_pro.svg) no-repeat;
    background-size: 134px;
    top: -10px;
    left: -182px;
  }
}

.direction-programm__text {
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  margin-top: 29px;
  margin-left: 20px;
  margin-bottom: 38px;
  width: 80%;
}
@media (min-width: 768px) {
  .direction-programm__text {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-top: -5px;
    margin-bottom: 52px;
    width: 57%;
  }
}
@media (min-width: 1440px) {
  .direction-programm__text {
    margin-top: 74px;
    margin-bottom: 27px;
    width: 90%;
  }
}

@media (min-width: 768px) {
  .direction-programm__text--pro {
    width: 52%;
  }
}
@media (min-width: 1440px) {
  .direction-programm__text--pro {
    width: 90%;
  }
}

.direction-programm__link {
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .direction-programm__link {
    margin-left: 0;
    font-size: 20px;
    line-height: normal;
  }
}

.direction-programm__link:active {
  opacity: 0.3;
}

.direction-programm__link::after {
  content: "";
  position: absolute;
  left: 100px;
  top: 6px;
  width: 100%;
  height: 100%;
  background: url(../img/icon_arrow.svg) no-repeat;
  pointer-events: none;
}
@media (min-width: 768px) {
  .direction-programm__link::after {
    left: 133px;
    top: 9px;
  }
}

.direction-programm__picture {
  margin-right: 19px;
}

.instruction {
  padding: 14px 12px 42px;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .instruction {
    padding: 44px 22px 42px;
    margin-bottom: 49px;
  }
}
@media (min-width: 1440px) {
  .instruction {
    padding: 71px 102px 26px;
  }
}

.instruction__title {
  margin: 0;
  grid-column: 1/-1;
  line-height: 40px;
}
@media (min-width: 768px) {
  .instruction__title {
    margin-bottom: 74px;
  }
}

.instruction__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .instruction__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 60px;
    margin-top: 0;
    row-gap: 84px;
  }
}
@media (min-width: 1440px) {
  .instruction__list {
    display: flex;
    flex-direction: row;
    column-gap: 199px;
    justify-content: space-between;
  }
}

.instruction__item {
  display: flex;
  column-gap: 20px;
}
@media (min-width: 768px) {
  .instruction__item {
    row-gap: 31px;
    flex-direction: column;
    position: relative;
    min-height: 232px;
  }
}

@media (min-width: 768px) {
  .instruction__item::before {
    content: "";
    pointer-events: none;
    width: 100%;
    height: 100%;
    left: 123px;
    position: absolute;
    top: -3px;
    z-index: -1;
  }
}

.instruction__item--1::before {
  pointer-events: none;
  background: url(../img/1.svg) no-repeat;
}

.instruction__item--2::before {
  pointer-events: none;
  background: url(../img/2.svg) no-repeat;
}

.instruction__item--3::before {
  pointer-events: none;
  background: url(../img/3.svg) no-repeat;
}

.instruction__item--4::before {
  pointer-events: none;
  background: url(../img/4.svg) no-repeat;
}

.instruction__text {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  color: #444444;
}
@media (min-width: 768px) {
  .instruction__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .instruction__text {
    width: 177%;
  }
}

.instruction__text--last br {
  display: none;
}
@media (min-width: 768px) {
  .instruction__text--last br {
    display: block;
  }
}
@media (min-width: 1440px) {
  .instruction__text--last {
    width: 130%;
  }
}

.instruction__picture {
  margin-top: -1px;
}
@media (min-width: 768px) {
  .instruction__picture {
    width: 80px;
    height: 80px;
  }
}

.example {
  padding: 0px 12px 12px;
  background: #EAEAEA;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .example {
    padding: 6px 22px 36px;
    background: linear-gradient(360deg, #EAEAEA 44.3%, transparent 44.4%);
  }
}
@media (min-width: 1440px) {
  .example {
    flex-direction: row;
    padding: 0 102px 45px;
    justify-content: space-between;
    background: linear-gradient(360deg, #EAEAEA 77%, transparent 77.1%);
  }
}

.example__title {
  margin-bottom: 33px;
  line-height: 40px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .example__title {
    grid-column: 1/-1;
    margin-bottom: 48px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .example__desc-area {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
  }
}
@media (min-width: 1440px) {
  .example__desc-area {
    width: 50%;
  }
}

.example__list {
  display: flex;
  column-gap: 39px;
  justify-content: space-around;
  margin-bottom: 8px;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .example__list {
    justify-content: flex-start;
    margin-left: -7px;
    column-gap: 90px;
  }
  .example__list br {
    display: none;
  }
}
@media (min-width: 1440px) {
  .example__list {
    justify-content: flex-start;
    margin-top: 84px;
    column-gap: 93px;
  }
}

.example__text {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  width: 101%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .example__text {
    grid-column: 1/-1;
    font-size: 16px;
    line-height: 24px;
    width: 99%;
    margin-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    margin-top: 146px;
    font-size: 16px;
    line-height: 24px;
    width: 81%;
  }
  .example__text br {
    display: none;
  }
}

.example__head-item {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .example__head-item {
    font-size: 20px;
    text-align: right;
    margin: 0 0 0 auto;
    width: 179px;
    line-height: 29px;
    margin-top: -8px;
  }
}
@media (min-width: 1440px) {
  .example__head-item {
    text-align: left;
    margin: 31px auto 0 0;
    width: 100%;
  }
}

.example__logo {
  margin-top: 34px;
  margin-left: -20px;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .example__logo {
    margin-left: 1px;
    margin-top: 53px;
    margin-bottom: 4px;
  }
}
@media (min-width: 1440px) {
  .example__logo {
    margin-top: -56px;
    margin-left: 28px;
    margin-bottom: 13px;
  }
}

.example__slider {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  column-gap: 13px;
  align-items: center;
}
@media (min-width: 768px) {
  .example__slider {
    margin-top: -25px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 768px) {
  .example__slider {
    margin-top: -8px;
  }
}

.example__slider-text {
  padding-bottom: 7px;
}

.example__slider-text--current {
  text-decoration: underline dotted grey;
  text-underline-offset: 7px;
}

.example__item--header {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .example__item--header {
    font-size: 30px;
    line-height: 37px;
    margin-top: 0;
    margin-bottom: 11px;
  }
}
@media (min-width: 1440px) {
  .example__item--header {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .example__item--header--weight {
    margin-left: 6px;
  }
}
@media (min-width: 1440px) {
  .example__item--header--weight {
    margin-left: 14px;
  }
}

.example__item--text {
  color: #444444;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  margin-top: 0px;
  width: 75px;
  font-family: "Arial";
}
@media (min-width: 768px) {
  .example__item--text {
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .example__item--text {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__item-text--weight {
  margin-left: -4px;
  width: 65px;
}
@media (min-width: 768px) {
  .example__item-text--weight {
    margin-left: 2px;
    margin-top: 12px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .example__item-text--weight {
    margin-left: 8px;
    margin-top: 0;
  }
}

.example__item-text--days {
  margin-left: 3px;
}
@media (min-width: 768px) {
  .example__item-text--days {
    margin-top: -4px;
    border: 5px solid #FFFFFF;
    z-index: 10;
    position: relative;
    background-color: #FFFFFF;
    margin-left: -5px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .example__item-text--days {
    background-color: #EAEAEA;
    border: 5px solid #EAEAEA;
  }
}

.example__picture-area {
  text-align: center;
}
@media (min-width: 1440px) {
  .example__picture-area {
    min-width: 677px;
  }
}

.example__item {
  position: relative;
}

.example__item::before {
  position: absolute;
  content: "";
  pointer-events: none;
  width: 124px;
  height: 56px;
  top: 11px;
  background: url(../img/weight_back.svg) no-repeat;
}
@media (min-width: 768px) {
  .example__item::before {
    width: 162px;
    height: 72px;
    background: url(../img/weight_back-bigger.png);
    top: -15px;
  }
}

.example__item--weight {
  margin-left: 10px;
}
@media (min-width: 768px) {
  .example__item--weight {
    margin-left: 36px;
  }
}
@media (min-width: 1440px) {
  .example__item--weight {
    margin-left: 20px;
  }
}

.example__item--weight::before {
  left: -32px;
}
@media (min-width: 768px) {
  .example__item--weight::before {
    left: -29px;
  }
}
@media (min-width: 1440px) {
  .example__item--weight::before {
    left: -20px;
  }
}

.example__item--days::before {
  left: -21px;
}
@media (min-width: 768px) {
  .example__item--days::before {
    left: -14px;
  }
}
@media (min-width: 1440px) {
  .example__item--days::before {
    left: -15px;
  }
}

@media (min-width: 1440px) {
  .escape {
    margin-left: 58px;
  }
}

.partnership {
  display: grid;
  column-gap: 2px;
  padding: 28px 10px;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .partnership {
    justify-content: space-between;
    column-gap: 0;
    display: flex;
    padding: 63px 64px 57px 62px;
  }
}
@media (min-width: 1440px) {
  .partnership {
    padding: 63px 86px 51px 75px;
  }
}

.partnership--catalog-select {
  background: #EAEAEA;
}
@media (min-width: 1440px) {
  .partnership--catalog-select {
    background: #FFFFFF;
  }
}

.partnership__title {
  color: #111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Oswald";
  margin: 0;
}
@media (min-width: 768px) {
  .partnership__title {
    font-size: 20px;
    line-height: 26px;
  }
}

.partnership__text {
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  width: 140px;
}
@media (min-width: 768px) {
  .partnership__text {
    text-align: right;
    font-size: 16px;
    width: 159px;
  }
}
@media (min-width: 1440px) {
  .partnership__text {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .page-main__partnership {
    position: absolute;
    z-index: 4000;
    width: 570px;
    height: 201px;
    background: #FFFFFF;
    margin-left: 102px;
    margin-top: 95px;
  }
}

.partnership__text-street {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .partnership__text-street {
    padding-top: 20px;
  }
}

.footer {
  padding: 37px 11px 10px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer {
    padding: 60px 22px 11px;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .footer {
    padding: 62px 102px 10px;
  }
}

.footer__text-logo {
  text-align: center;
  margin-bottom: 44px;
}
@media (min-width: 768px) {
  .footer__text-logo {
    margin-bottom: 48px;
  }
}

.footer__list-social {
  display: flex;
  justify-content: center;
  column-gap: 32px;
  align-items: center;
  margin-bottom: 43px;
}
@media (min-width: 768px) {
  .footer__list-social {
    margin-top: -5px;
    margin-left: 31px;
    margin-bottom: 0;
    align-items: stretch;
    column-gap: 20px;
  }
}

.footer__social-item--vk {
  margin-left: -6px;
  margin-top: -6px;
}

.footer__social-item--inst {
  margin-top: -1px;
}

.footer__social-icon--vk {
  width: 22px;
  height: 13px;
}
@media (min-width: 768px) {
  .footer__social-icon--vk {
    width: 29px;
    height: 17px;
  }
}

.footer__social-icon--inst {
  width: 16px;
  height: 16px;
}
@media (min-width: 768px) {
  .footer__social-icon--inst {
    width: 23px;
    height: 23px;
  }
}

.footer__social-icon--fb {
  width: 10px;
  height: 18px;
}
@media (min-width: 768px) {
  .footer__social-icon--fb {
    width: 13px;
    height: 27px;
  }
}

.footer__copyright {
  color: #444444;
  font-family: Arial;
  font-size: 16px;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .footer__copyright {
    align-items: stretch;
    margin-top: 2px;
  }
}
@media (min-width: 1440px) {
  .footer__copyright {
    margin-top: 4px;
  }
}

.footer__text-logo,
.footer__list-social {
  position: relative;
}

.footer__list-social::after,
.footer__list-social::before {
  display: inline-block;
  content: "";
  position: absolute;
  pointer-events: none;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  bottom: -22px;
  left: 0;
}
@media (min-width: 768px) {
  .footer__list-social::after,
  .footer__list-social::before {
    display: none;
  }
}

.footer__list-social::after {
  pointer-events: none;
  top: -19px;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 23px;
  height: 23px;
}
@media (min-width: 768px) {
  .footer__social-link {
    width: 30px;
    height: 30px;
  }
}

.footer__copyright--icon:hover,
.footer__social-icon:hover {
  fill: #68B738;
}

.footer__copyright--icon:active,
.footer__social-icon:active {
  fill: 104, 183, 56;
}

.footer__text-logo--icon:hover,
.footer__copyright--text:hover {
  opacity: 0.8;
}

.footer__text-logo--icon:active,
.footer__copyright--text:active {
  opacity: 0.6;
}

@media (min-width: 768px) {
  .footer__copyright--icon {
    margin-left: 22px;
    margin-top: -7px;
  }
}

@media (max-width: 767px) {
  .footer__copyright--text {
    margin-top: -3px;
  }
}

.catalog__list {
  padding-top: 11px;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8%;
    justify-items: center;
    padding-top: 0;
    margin-top: 164px;
    row-gap: 8.2%;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5.5%;
    padding-bottom: 0;
    row-gap: 17%;
  }
}

.catalog__title {
  color: #222;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  grid-column: 2/4;
  grid-row: 1/2;
  text-align: left;
  margin-top: 44px;
  width: 55%;
}
@media (min-width: 768px) {
  .catalog__title {
    text-align: center;
    margin-top: 161px;
    width: 41%;
    font-size: 20px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    line-height: 21px;
    width: 55%;
    margin-top: 164px;
  }
}

.catalog__table {
  color: #444444;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 21px;
  grid-column: 2/3;
  grid-row: 2/3;
  width: 105%;
  margin-left: -3px;
  margin-top: -3px;
}
@media (min-width: 768px) {
  .catalog__table {
    width: 80%;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 32px;
    margin-top: -8px;
    margin-left: -3px;
  }
}
@media (min-width: 1440px) {
  .catalog__table {
    width: 71%;
    margin-top: -4px;
    margin-left: 3px;
  }
}

.catalog__table-first-column {
  text-align: left;
}

.catalog__table-second-column {
  text-align: right;
}

.catalog__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content;
  align-items: center;
  position: relative;
  min-height: 209px;
  width: 280px;
}
@media (min-width: 768px) {
  .catalog__item {
    position: relative;
    min-height: 430px;
    width: 324px;
    display: flex;
    flex-direction: column;
    background: #F2F2F2;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    width: 245px;
  }
}

.page__title--catalog {
  margin: 27px 0 7px 11px;
}
@media (min-width: 768px) {
  .page__title--catalog {
    margin: 53px 0 0 -1px;
  }
}
@media (min-width: 1440px) {
  .page__title--catalog {
    margin: 69px 0 7px 9px;
  }
}

@media (max-width: 767px) {
  .page__title--catalog::before,
  .catalog__item::before {
    display: inline-block;
    content: "";
    position: absolute;
    pointer-events: none;
    height: 1px;
    width: 768px;
    background-color: #e6e6e6;
    bottom: -25px;
    left: -256px;
  }
}

@media (max-width: 768px) {
  .page__title--catalog::before {
    left: -40px;
    bottom: -42px;
  }
}

.catalog__table-row {
  position: relative;
}

@media (min-width: 768px) {
  .catalog__table-row::before {
    display: inline-block;
    content: "";
    position: absolute;
    pointer-events: none;
    height: 1px;
    width: 100%;
    background-color: #e6e6e6;
    bottom: 0;
  }
}

.catalog__picture {
  grid-column: 1/2;
  grid-row: 1/3;
  margin: 0 auto;
  position: absolute;
  top: 70px;
  left: 34px;
}
@media (min-width: 768px) {
  .catalog__picture {
    position: absolute;
    top: -46px;
    left: 81px;
  }
}
@media (min-width: 1440px) {
  .catalog__picture {
    left: 43px;
    top: -53px;
  }
}

.catalog__picture--even {
  top: 54px;
  left: 27px;
}
@media (min-width: 768px) {
  .catalog__picture--even {
    top: -73px;
    left: 78px;
  }
}
@media (min-width: 1440px) {
  .catalog__picture--even {
    top: -80px;
    left: 41px;
  }
}

.catalog__item--show-else {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__item--show-else {
    min-height: 426px;
    border: 2px solid #f2f2f2;
    width: 324px;
  }
}
@media (min-width: 1440px) {
  .catalog__item--show-else {
    width: 241px;
  }
}

.catalog__title--show-else {
  color: #111;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 103px;
  position: relative;
}
@media (min-width: 768px) {
  .catalog__title--show-else {
    margin: 159px auto 0;
    width: 44%;
    font-size: 20px;
    line-height: 22px;
  }
}
@media (min-width: 1440px) {
  .catalog__title--show-else {
    width: 57%;
  }
}

.catalog__title--show-else::before {
  position: absolute;
  top: -54px;
  left: 44%;
  background: url(../img/plus.svg) no-repeat;
  content: "";
  width: 30px;
  height: 30px;
  pointer-events: none;
}
@media (min-width: 768px) {
  .catalog__title--show-else::before {
    top: -109px;
    left: 30%;
    background: url(../img/plus--tablet.svg) no-repeat;
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 1440px) {
  .catalog__title--show-else::before {
    left: 26%;
  }
}

.catalog__text--show-else {
  color: #444444;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  margin: -13px auto 21px;
}
@media (min-width: 768px) {
  .catalog__text--show-else {
    margin: 23px auto 89px;
    width: 52%;
    font-size: 16px;
    line-height: 18px;
  }
}
@media (min-width: 1440px) {
  .catalog__text--show-else {
    width: 70%;
    margin: 23px auto 85px;
  }
}

.button--show-else {
  background-color: #F2F2F2;
}

.additional-products__head-title {
  color: #000000;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.additional-products__title--item {
  color: #222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 31px;
}
@media (min-width: 768px) {
  .additional-products__title--item {
    margin-top: 27px;
    font-size: 20px;
    line-height: 20px;
  }
}

.additional-products__table-row {
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  line-height: 14px;
}
@media (min-width: 768px) {
  .additional-products__table-row {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .additional-products__table-row {
    display: flex;
    justify-content: flex-end;
    column-gap: 16%;
  }
}

.additional-products__table {
  margin-bottom: 10px;
  width: 103%;
  margin-left: -4px;
}
@media (min-width: 768px) {
  .additional-products__table {
    margin-bottom: 0px;
  }
}
@media (min-width: 1440px) {
  .additional-products__table {
    margin-top: 22px;
    padding-top: 2px;
    margin-left: 22px;
    width: 99%;
  }
}

.additional-products__item {
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (min-width: 768px) {
  .additional-products__item {
    min-height: 138px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: baseline;
  }
}
@media (min-width: 1440px) {
  .additional-products__item {
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 72px;
    grid-template-rows: 1fr;
  }
}

.additional-products__title {
  position: relative;
  margin-bottom: 18px;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .additional-products__title {
    margin-left: 37px;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .additional-products__title {
    grid-column: 1/-1;
    margin-left: 0;
  }
}

.catalog__table-second-column--add {
  text-align: right;
  text-transform: uppercase;
}

.additional-products__title::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 448px;
  height: 2px;
  background: #68B738;
  left: 246px;
  top: 63%;
}
@media (min-width: 768px) {
  .additional-products__title::after {
    width: 3000px;
    left: 373px;
    top: 62%;
  }
}
@media (min-width: 1440px) {
  .additional-products__title::after {
    top: 63%;
    left: 371px;
  }
}

@media (min-width: 768px) {
  .additional-products__title::before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 30px;
    height: 2px;
    background: #68B738;
    left: -67px;
    top: 62%;
  }
}
@media (min-width: 768px) {
  .additional-products__title::before {
    width: 71px;
    left: -111px;
  }
}
@media (min-width: 1440px) {
  .additional-products__title::before {
    left: -113px;
    top: 63%;
  }
}

.additional-products__item::after {
  content: "";
  position: absolute;
  pointer-events: none;
  height: 1px;
  width: 100%;
  background-color: #CDCDCD;
  bottom: -19px;
}
@media (min-width: 768px) {
  .additional-products__item::after {
    bottom: -1px;
    width: 708px;
    left: -38px;
  }
}
@media (min-width: 1440px) {
  .additional-products__item::after {
    width: 895px;
    left: 0;
  }
}

@media (min-width: 1440px) {
  .additional-products__item--first::before {
    content: "";
    position: absolute;
    pointer-events: none;
    height: 1px;
    width: 100%;
    background-color: #CDCDCD;
    top: -1px;
    width: 895px;
    left: 0;
  }
}

@media (min-width: 768px) {
  .additional-products__list {
    width: 632px;
    margin: 0 auto 0;
  }
}
@media (min-width: 1440px) {
  .additional-products__list {
    width: 895px;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .additional-products {
    border: #CDCDCD solid 1px;
    margin: 0 auto;
    width: 706px;
  }
}

.selection-programm {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .selection-programm {
    font-size: 20px;
    line-height: 30px;
  }
}

.change-programm__container-fieldset {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .change-programm__container-fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6.6%;
    margin-top: 66px;
  }
}

.cat-data__legend {
  font-size: 14px;
  margin-top: 39px;
  line-height: 18px;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .cat-data__legend {
    margin-top: 54px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .cat-data__legend {
    margin-top: 56px;
  }
}

.cat-data__item {
  color: var(--special-dark-grey, #444);
  display: flex;
  align-items: center;
  column-gap: 3.7%;
}
@media (min-width: 768px) {
  .cat-data__item {
    column-gap: 3%;
  }
}

@media (min-width: 1440px) {
  .cat-data__item--age {
    column-gap: 2%;
  }
}

@media (min-width: 1440px) {
  .cat-data__item--weight {
    column-gap: 2.5%;
  }
}

.change-programm__item {
  color: var(--special-dark-grey-2, #222);
  line-height: 18px;
}

.cat-data__item-input {
  border: 1px solid #E7E7E7;
  width: 100%;
  padding: 14px 0 13px 18px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .cat-data__item-input {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 18px;
  }
}

.cat-data__item-input::placeholder {
  color: #444444;
}

.cat-data__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
@media (min-width: 768px) {
  .cat-data__list {
    row-gap: 20px;
  }
}

.cat-data__form-info {
  margin-top: 37px;
}
@media (min-width: 768px) {
  .cat-data__form-info {
    margin-top: 66px;
  }
}
@media (min-width: 1440px) {
  .cat-data__form-info {
    margin-top: 0;
  }
}

.cat-data__item-label--age {
  min-width: 94px;
}
@media (min-width: 768px) {
  .cat-data__item-label--age {
    min-width: 19%;
  }
}
@media (min-width: 1440px) {
  .cat-data__item-label--age {
    min-width: 21%;
  }
}

.cat-data__item-label--weight {
  min-width: 60px;
}
@media (min-width: 768px) {
  .cat-data__item-label--weight {
    min-width: 12%;
  }
}
@media (min-width: 1440px) {
  .cat-data__item-label--weight {
    min-width: 14%;
  }
}

.cat-data {
  position: relative;
}

.cat-data::after {
  display: inline-block;
  content: "";
  position: absolute;
  pointer-events: none;
  height: 1px;
  width: 108%;
  background-color: #e6e6e6;
  top: 111%;
  left: -11px;
}
@media (min-width: 768px) {
  .cat-data::after {
    display: none;
  }
}

.contact__title {
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  margin-top: 51px;
  margin-bottom: 0;
  position: relative;
  width: 52%;
}
@media (min-width: 768px) {
  .contact__title {
    margin-top: 75px;
    font-size: 36px;
    line-height: 36px;
    width: 100%;
  }
}
@media (min-width: 1440px) {
  .contact__title {
    margin-top: 69px;
  }
}

.contact__title::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 3000px;
  height: 2px;
  background: #68B738;
  top: 60%;
}

.contact__title--mail-phone {
  width: 181px;
}
@media (min-width: 768px) {
  .contact__title--mail-phone {
    width: 100%;
  }
}

.contact__title--mail-phone::after {
  left: 200px;
  top: 30%;
  pointer-events: none;
}
@media (min-width: 768px) {
  .contact__title--mail-phone::after {
    top: 56%;
    width: 3000px;
    left: 552px;
  }
}
@media (min-width: 1440px) {
  .contact__title--mail-phone::after {
    top: 61%;
  }
}

.contact__title::before {
  pointer-events: none;
}
@media (min-width: 768px) {
  .contact__title::before {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 27px;
    height: 2px;
    background: #68B738;
    left: -67px;
    top: 56%;
  }
}
@media (min-width: 1440px) {
  .contact__title::before {
    width: 71px;
    left: -111px;
    top: 61%;
  }
}

.selection-programm__explanation {
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
}
@media (min-width: 768px) {
  .selection-programm__explanation {
    text-align: left;
    font-size: 16px;
    margin-left: 9%;
  }
}
@media (min-width: 1440px) {
  .selection-programm__explanation {
    margin-left: 6.5%;
  }
}

.container-button-form {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
}
@media (min-width: 768px) {
  .container-button-form {
    margin-top: 59px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .container-button-form {
    margin-top: 66px;
  }
}

.contact__list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  .contact__list {
    flex-direction: row;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
}
@media (min-width: 768px) {
  .nav__list {
    flex-direction: row;
  }
}

.nav__item {
  position: relative;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  padding: 22px 17px;
}
@media (min-width: 768px) {
  .nav__item {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .nav__item {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .nav__item--index {
    color: #FFFFFF;
  }
}

ul .nav__item--index::before {
  pointer-events: none;
}
@media (min-width: 1440px) {
  ul .nav__item--index::before {
    background-color: #FFFFFF;
  }
}

.nav__item:hover {
  opacity: 0.6;
}

.nav__item:visited {
  opacity: 0.3;
}

.nav__item--current {
  position: relative;
}

.nav__item--current::before {
  pointer-events: none;
}
@media (min-width: 768px) {
  .nav__item--current::before {
    position: absolute;
    content: " ";
    width: 98%;
    height: 2px;
    bottom: -9px;
    background-color: #68B738;
  }
}
@media (min-width: 1440px) {
  .nav__item--current::before {
    bottom: -7px;
  }
}

@media (min-width: 1440px) {
  .nav__item--index .nav__item--current::before {
    background-color: #FFFFFF;
  }
}

.nav__item::after {
  display: inline-block;
  content: "";
  position: absolute;
  pointer-events: none;
  height: 1px;
  width: 100%;
  background-color: #e6e6e6;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .nav__item::after {
    display: none;
  }
}

.nav {
  text-align: center;
}

.nav--closed {
  display: none;
}

.nav--opened {
  display: block;
}

.toggle--inactive {
  display: none;
}

.toggle--active {
  display: block;
}
@media (min-width: 768px) {
  .toggle--active {
    display: none;
  }
}

.gift {
  background: url(../img/background/gift-photo-mobile.png) no-repeat;
  display: flex;
  flex-direction: column;
  margin: 57px auto 0;
  width: 280px;
  height: 289px;
}
@media (min-resolution: 2dppx) {
  .gift {
    background: url(../img/background/gift-photo-mobile\@2.png) no-repeat;
    background-size: 280px 289px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .gift {
    background: url(../img/background/gift-photo-tablet.png) no-repeat;
    flex-direction: row;
    width: 708px;
    height: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) and (min-resolution: 2dppx) {
  .gift {
    background: url(../img/background/gift-photo-tablet\@2.png) no-repeat;
  }
}
@media (min-width: 768px) {
  .gift {
    margin: 71px auto 0;
  }
}
@media (min-width: 1440px) {
  .gift {
    width: 245px;
    height: 289px;
    margin: 0 0 0 80px;
  }
}

.gift__text {
  width: 60%;
  margin: 48px auto 0;
  color: #FFFFFF;
  text-align: center;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .gift__text {
    margin: 71px 0 0 265px;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .gift__text {
    margin: 46px auto 0;
    text-align: center;
    width: 67%;
  }
}

.gift__icon {
  margin: 58px auto 0;
}
@media (min-width: 768px) {
  .gift__icon {
    margin-left: 77px;
    width: 80px;
    height: 82px;
  }
}

.target__list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-left: 45px;
}
@media (min-width: 768px) {
  .target__list {
    border: 1px solid #e7e7e7;
    padding: 30px 0 27px 88px;
    margin-left: 0;
  }
}
@media (min-width: 1440px) {
  .target__list {
    row-gap: 23px;
  }
}

.target__item {
  display: flex;
  column-gap: 5%;
  color: #222;
}
@media (min-width: 768px) {
  .target__item {
    font-size: 20px;
    line-height: normal;
  }
}

.target__item label {
  display: block;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.target__form {
  margin-top: 52px;
}
@media (min-width: 768px) {
  .target__form {
    margin-top: 71px;
  }
}
@media (min-width: 1440px) {
  .target__form {
    margin-top: 0px;
  }
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -7px;
  width: 28px;
  height: 28px;
  border: 1px solid #CDCDCD;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .filter-input-radio + label::before {
    width: 40px;
    height: 40px;
    left: -61px;
  }
}
@media (min-width: 1440px) {
  .filter-input-radio + label::before {
    top: -7px;
    left: -63px;
  }
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: -37px;
  width: 14px;
  height: 14px;
  background-color: #68B738;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .filter-input-radio:checked + label::after {
    width: 18px;
    height: 18px;
    left: -49px;
    top: 5px;
  }
}
@media (min-width: 1440px) {
  .filter-input-radio:checked + label::after {
    left: -51px;
  }
}

.target {
  position: relative;
}

.target::after {
  display: inline-block;
  content: "";
  position: absolute;
  pointer-events: none;
  height: 1px;
  width: 108%;
  background-color: #e6e6e6;
  top: 116%;
  left: -11px;
}
@media (min-width: 768px) {
  .target::after {
    display: none;
  }
}

.contact__list {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}
@media (min-width: 768px) {
  .contact__list {
    row-gap: 20px;
  }
}
@media (min-width: 1440px) {
  .contact__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 6.5%;
  }
}

.contact__item {
  color: var(--special-dark-grey, #444);
  display: flex;
  align-items: center;
  column-gap: 3.5%;
  position: relative;
}
@media (min-width: 768px) {
  .contact__item {
    column-gap: 1%;
  }
}
@media (min-width: 1440px) {
  .contact__item {
    column-gap: 2.5%;
  }
}

@media (min-width: 768px) {
  .contact__item--phone {
    column-gap: 2%;
  }
}
@media (min-width: 1440px) {
  .contact__item--phone {
    column-gap: 2.5%;
  }
}

.contact__item--mail::before {
  content: "";
  position: absolute;
  left: auto;
  right: 17px;
  width: 20px;
  height: 15px;
  background: url(../img/background/icon_email.svg) no-repeat;
  pointer-events: none;
  display: inline-block;
}

.contact__item--phone::before {
  content: "";
  position: absolute;
  left: auto;
  right: 17px;
  width: 20px;
  height: 21px;
  background: url(../img/background/icon_phone.svg) no-repeat;
  pointer-events: none;
  display: inline-block;
}

.contact__item-input {
  border: 1px solid #E7E7E7;
  width: 100%;
  padding-top: 13.2px;
  padding-bottom: 14.8px;
  padding-left: 14.2px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .contact__item-input {
    font-size: 20px;
    line-height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
  }
}

.contact__item-input::placeholder {
  color: #444444;
}

.contact__item-label--email {
  width: 73px;
}
@media (min-width: 768px) {
  .contact__item-label--email {
    min-width: 12%;
  }
}

.contact__form {
  margin-top: 35px;
}
@media (min-width: 768px) {
  .contact__form {
    margin-top: 76px;
  }
}

.comment-textarea {
  border: 1px solid #E7E7E7;
  resize: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 9px 0 54px 15px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 37px;
  font-family: Oswald;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .comment-textarea {
    margin-top: 74px;
    font-size: 20px;
    line-height: 30px;
    padding: 9px 0 0 18px;
  }
}
@media (min-width: 1440px) {
  .comment-textarea {
    padding-top: 10px;
    margin-top: 76px;
  }
}

.comment-textarea::placeholder {
  color: #444444;
}

.contact__title--comment {
  margin-top: 21px;
}
@media (min-width: 768px) {
  .contact__title--comment {
    margin-top: 65px;
  }
}
@media (min-width: 768px) {
  .contact__title--comment {
    margin-top: 67px;
  }
}

.contact__title--comment::after {
  pointer-events: none;
  left: 142px;
}
@media (min-width: 768px) {
  .contact__title--comment::after {
    left: 219px;
  }
}
@media (min-width: 1440px) {
  .contact__title--comment::after {
    left: 222px;
  }
}

.contact__title--optionally {
  margin-top: 17px;
}
@media (min-width: 768px) {
  .contact__title--optionally {
    margin-top: 72px;
  }
}

.contact__title--optionally::after {
  pointer-events: none;
  left: 163px;
}
@media (min-width: 768px) {
  .contact__title--optionally::after {
    left: 249px;
  }
}

.optionally__list {
  margin-top: 39px;
}
@media (min-width: 768px) {
  .optionally__list {
    margin-top: 62px;
  }
}
@media (min-width: 1440px) {
  .optionally__list {
    margin-top: 63px;
  }
}

.optionally__list {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  row-gap: 25px;
  margin-left: 48px;
}
@media (min-width: 768px) {
  .optionally__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    row-gap: 42px;
    font-size: 20px;
    line-height: normal;
    margin-left: 59px;
    column-gap: 20%;
  }
}
@media (min-width: 1440px) {
  .optionally__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12%;
    row-gap: 0;
  }
}

.optionally__item--checkbox + label {
  position: relative;
}

.optionally__item--checkbox + label::before {
  content: "";
  position: absolute;
  left: -48px;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid #CDCDCD;
  border-radius: 5%;
}
@media (min-width: 768px) {
  .optionally__item--checkbox + label::before {
    left: -60px;
    width: 40px;
    height: 40px;
    top: -6px;
  }
}

.optionally__item--checkbox:checked + label::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: -2px;
  left: -45px;
  width: 26px;
  height: 26px;
  background: url(../img/background/tick.svg) no-repeat;
  z-index: 1;
}
@media (min-width: 768px) {
  .optionally__item--checkbox:checked + label::after {
    top: 2px;
    left: -52px;
  }
}

.filter-input-radio + label {
  position: relative;
}

.map {
  height: 362px;
}
@media (min-width: 768px) {
  .map {
    height: 400px;
  }
}

.title {
  margin-top: 0;
  font-size: 36px;
}
@media (min-width: 768px) {
  .title {
    font-size: 60px;
    line-height: 60px;
  }
}

a {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
